html {
  margin: 0px 10px 0px 10px;
  overflow: hidden;
}
nav > ul {
  display: flex;
  justify-content: space-around;
}
nav > ul > li {
  display: flex;
  align-self: center;
}
.green-dome {
  width: 1400px;
  height: 700px;
  background-color: #b8e79c;
  border-bottom-left-radius: 800px;
  border-bottom-right-radius: 800px;
  position: absolute;
  top: -150px;
  right: -250px;
  z-index: -1;
  overflow:hidden;
}

.logo {
  width: 300px;
  padding: 0px;
}
#background {
  width: 100%;
  height: 100vh;
  /* background-color: #649549; */
  background-color:grey;
  /* background-color: #eaf3e4; */
  z-index:-1;
  position: absolute;
  top:0px;
}
.food-dome{
  width: 800px;
  height: 400px;
  background-color:blue;
  position:absolute;
  bottom:-50px;
  right:300px;
  border-top-left-radius: 400px;
  border-top-right-radius:400px;
}